openapi: 3.0.1
info:
  title: OpenWiFi Open roaming Ameriband Provisioning Model
  description: Registration of an OpenRoaming profile with Ameriband for TIP OpenWifi.
  version: 1.0.0
  license:
    name: BSD3
    url: https://github.com/Telecominfraproject/wlan-cloud-ucentralgw/blob/master/LICENSE

servers:
  - url: 'https://tip.regiatration.ameriband.com:8001/api/v1'

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  responses:
    NotFound:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            properties:
              ErrorCode:
                type: integer
              ErrorDetails:
                type: string
              ErrorDescription:
                type: string

    Unauthorized:
      description: The requested does not have sufficient rights to perform the operation.
      content:
        application/json:
          schema:
            properties:
              ErrorCode:
                type: integer
                enum:
                  - 0     # Success
                  - 8     # INVALID_TOKEN
                  - 9     # EXPIRED_TOKEN
              ErrorDetails:
                type: string
              ErrorDescription:
                type: string

    Success:
      description: The requested operation was performed.
      content:
        application/json:
          schema:
            properties:
              Operation:
                type: string
              Details:
                type: string
              Code:
                type: integer

    BadRequest:
      description: The requested operation failed.
      content:
        application/json:
          schema:
            properties:
              ErrorCode:
                type: integer
              ErrorDetails:
                type: string
              ErrorDescription:
                type: integer

  schemas:
    RegistrationRequest:
      type: object
      properties:
        orgRequestId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          example:
            Client will generate a UUID that must be returned in the response.
        orgAcceptedTermsAndConditions:
          type: boolean
          default: false
        orgLegalName:
          type: string
          minLength: 1
        orgWebSite:
          type: string
          format: url
          minLength: 1
        orgContact:
          type: string
          minLength: 1
          example:
            John Smith
        orgEmail:
          type: string
          format: email
          minLength: 1
        orgPhone:
          type: string
          example:
            (607)555-1234 or +1(223)555-1222
        orgLocation:
          type: string
          example:
            Boston, NH - LA, CA
        orgCertificate:
          type: string
          minLength: 1
          example:
            This must be the entire PEM file content of the certificate, encoded using base64

    RegistrationResponse:
      type: object
      properties:
        orgRequestId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          example:
            This should be the same orgRequestId passed during registration.
        orgNASID:
          type: string
          minLength: 10
          description:
            This is the NASID generated by Ameriband. It will be used by the operator as NASID when contacting Ameriband.
        ameribandCertificate:
          type: string
          minLength: 1
          example:
            This must be the entire PEM file content of the certificate, encoded using base64

    RegistrationInformationRequest:
      type: object
      properties:
        link:
          description: This should be the link where a potential registrant can read the terms and conditions of registering with Ameriband.
          type: string
          format: url
          minLength: 1
          example:
            https://ameriband.com/romain-registration.html

paths:
  /termsAndConditions:
    get:
      summary: The registrant must be given a chance to view the terms and conditions of the relationship they are entering into
      operationId: getTermsAndConditions
      responses:
        200:
          description: Sucessfully retrieved Terms and Conditions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationInformationRequest'
        404:
          $ref: '#/components/responses/Unauthorized'

  /registration:
    get:
      tags:
        - Registration
      operationId: getRegistrationInformation
      summary: This should return the information from a registration based on the NASID
      parameters:
        - in: query
          name: orgNASID
          schema:
            type: string
          required: true
          example:
            This is the orgNASID returned during registration.
      responses:
        200:
          $ref: '#/components/schemas/RegistrationResponse'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'

    post:
      summary: Called when the registrant ahs read the T&Cs and iw willing to submit their information to enter in a partnership
      tags:
        - Registration
      operationId: createRegistration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        200:
          description: Succesfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        400:
          description: Registration failed due to  missing or incomplete information
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Unauthorized'

    put:
      summary: Called when the registrant needs to update its information with Ameriband. The does not generate a new NASID.
      tags:
        - Registration
      operationId: updateRegistration
      parameters:
        - in: query
          name: orgNASID
          schema:
            type: string
          required: true
          example:
            This is the orgNASID returned during registration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        200:
          description: Succesfully found the information based on the orgNASID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Registration
      summary: When a registrant wants to terminate a relationship with Ameriband. Ameriband should also delete all information from the registrant
      operationId: deleteRegistration
      parameters:
        - in: query
          name: orgNASID
          schema:
            type: string
          required: true
          example:
            This is the orgNASID returned during registration.
      responses:
        204:
          $ref: '#/components/responses/Success'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
